/* 初始化样式 --start*/

body,
a,
p,
input {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

img {
    border: none;
    display: block;
}

.clearfloat::after {
    display: block;
    clear: both;
    content: ' ';
    visibility: hidden;
    height: 0;
}

/* 初始化样式//init css -- end */
